# Normalize line endings: keep LF everywhere
* text eol=lf
# Binary files (don't try to change endings)
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.tif binary
*.exr binary
*.fbx binary
*.mp4 binary
*.mov binary
*.wav binary
*.mp3 binary
*.aif binary
*.ogg binary
Mewsic[[:space:]]Madness[[:space:]]v1246.zip filter=lfs diff=lfs merge=lfs -text
Assets/screenshots/Demo[[:space:]]Rec[[:space:]]2[[:space:]]Recording[[:space:]]2026-02-22[[:space:]]125554.mp4 filter=lfs diff=lfs merge=lfs -text
